$prefix: 'c4';
$name: 'izmir';

$padding: 1em;
$transition-duration: 600ms;
$image-opacity: .25;

$border-margin: 15px;
$border-width: 3px;
$border-color: #ffffff;
$border-radius: 3px;

$primary-color: #00B4DB;
$secondary-color: #0083B0;
$text-color: #ffffff;
