$prefix: 'c4';
$name: 'izmir';

$padding: 1em;
$transition-duration: 600ms;
$image-opacity: .25;

$border-margin: 15px;
$border-width: 3px;
$border-color: #fff;
$border-radius: 3px;

$primary-color: #00b4db;
$secondary-color: #0083b0;
$text-color: #fff;
